$opacity: 0.5;

$background: #08080c;

$background-transparent: rgba($background, $opacity);

$foreground: #34363e;

$primary: #aaabb2;

* {
  font-size: medium;
  font-family: "JetBrainsMono Nerd Font Propo";
}

window {
  background: transparent;
}

.bar {
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: $background-transparent;
  border-radius: 3rem;

  .container > box:not(:last-child) {
    margin-right: 0.5rem;
  }

  .system-menu {
    border-radius: 3rem;
    background-color: $background;
  }

  .system-tray {
    border-radius: 3rem;
    background-color: $background;
  }

  .applications {
    border-radius: 3rem;
    background-color: $background;
  }

  .power {
    border-radius: 3rem;
    background-color: $background;
  }

  .control-center {
    border-radius: 3rem;
    background-color: $background;

    box {
      padding: 0;
      margin: 0;
    }
  }

  .clock {
    border-radius: 3rem;
    background-color: $background;

    label {
      font-size: small;
    }
  }

  .workspaces {
    border-radius: 3rem;
    background-color: $background;

    button.focused {
      border-radius: 3rem;
      background-color: $foreground;
    }

    button {
      image:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }
}

button {
  padding-top: 0;
  padding-bottom: 0;

  background: transparent;
  color: $primary;
  border: none;
}
